# PCA Multiexercício — MPPI
# Gerado com: pip freeze > requirements.txt
# Instalar com: pip install -r requirements.txt

asgiref==3.8.1
Django==5.2.3
django-cors-headers==4.9.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.2

# Cliente HTTP (integração PNCP e SEI — Estágio 2)
requests==2.32.3
